[run]
parallel = true
branch = true
source = os_scrapy_aio_resolver

[paths]
source =
    os_scrapy_aio_resolver
    .tox/*/lib/python*/site-packages/os_scrapy_aio_resolver
    .tox/*/site-packages/os_scrapy_aio_resolver
